@import "./src/common/styles/colors";
@import "./src/common/styles/breackpoints";

.header {
  align-items: center;
  background-color: $white;
  flex-wrap: wrap;
  grid-template-columns: 3fr 6fr 3fr;
  justify-content: space-between;
  max-width: 69.75rem;
  min-height: 5.24rem;
  width: 100%;

  display: flex;
  margin: 0 0.5rem;

  @media all and (max-width: $md) {
    flex-direction: column;
  }

  &Wrapper {
    background-color: $white;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &Logo {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @media all and (max-width: $md) {
      margin: 0.5rem 0 0;
    }
  }

  &Links {
    margin-right: 9rem;

    @media all and (max-width: $md) {
      margin-right: 0;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 0 3.75rem;
      justify-content: center;
    }
  }
}

.nav {
  &Link {
    color: $black;
    transition: all 0.05s ease-in-out;

    &:hover {
      color: $blue-600;
      transition: all 0.15s ease-in-out;
    }

    &:active {
      color: $blue-500-main;
      transition: all 0.05s ease-in-out;
    }

    &[aria-current] {
      color: $blue-500-main;
    }
  }
}
