.vacancies {
  display: grid;
  grid-template-columns: 3fr 7fr;


  max-width: 1116px;
  width: 100%;

  & aside {
    margin-right: 1.75rem;
  }

  &Wrapper {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
  }

  &Content {
    width: 100%;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }

  &Pagination {
    display: flex;
    justify-content: center;
  }
}
