@import '../../../common/styles/colors';
@import '../../../common/styles/font-sizes';
@import '../../../common/styles/animation';

.vc {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  transition: $transition-down;

  &:hover {
    box-shadow: 0 0 4px 4px $black-010;
    transition: $transition-up;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &Title {
    color: $blue-500-main;
    font-size: $font-size-20;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;
  }

  &Star {
    &:hover {
      transform: scale(1.5);

      path {
        fill: $blue-500-main;
        stroke: $blue-500-main;
      }
    }
  }

  &StarActive {
    path {
      fill: $blue-500-main;
      stroke: $blue-500-main;
    }

    &:hover {
      transform: scale(1.2);

      path {
        fill: $white;
        stroke: $blue-500-main;
      }
    }

    &:active {
      path {
        fill: $blue-500-main;
        stroke: $blue-500-main;
      }
    }
  }

  &Payment {
    align-items: center;
    display: flex;
    gap: 0.75rem;

    &Salary {
      font-size: $font-size-16;
      font-weight: 600;
      line-height: 20px;
    }

    & p {
      margin: 0;
    }
  }

  &Dot {
    color: $grey-600;
  }

  &Location {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    & p {
      margin: 0;
    }
  }
}
